.header-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.header-textContent {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
    font-size: 1.2em;
    font-family: 'inter', sans-serif;
}
.header-img-wrapper {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 40%;
    z-index: 99;
}
.header-img {
    width: 23rem;
    height: 23rem;
}

.book-btn {
    background: #E24C03;
    color: whitesmoke;
    border-radius: 8px;
    padding: .275rem 1rem;
    border: none;
}